@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo-txt {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo-txt:hover {
  color: #fff;
  text-decoration: none;
}

#logo-img {
  width: 50px;
  margin: 0px 10px 8px 0px;
}

.nav {
  padding-top: 8px;
  padding-right: 12px;
}

/* Currencies List */

.overview {
  text-align: center;
}

/* Devise forms */

.devise-form {
  width: 30%;
  min-width: 300px;
  margin: auto;
  text-align: center;

  .actions {
    margin: 10px;
  }
}
